html {
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 10px 5px;
}

pre {
    margin: 0;
}

.invisible {
    visibility: hidden;
}

.snoozing {
    display: none;
}

#cursor {
    font-size: 123.1%;
    padding-left: 5px;
    position: relative;
    top: 2px;
}

#input {
    background-color: transparent;
    color: white;
}

#input:hover, #output .entry:hover {
    color: #CCF;
}

#vi {
    background: #000;
    left: 0;
    height: 98%;
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1000;
}
