html, #vi {
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 10px 5px;
}

pre {
    margin: 0;
}

.cmd {
    color: #6AF;
}

.invisible {
    visibility: hidden;
}

.ls-file {
    color: #AAF;
}

.ls-folder {
    color: #0F9;
}

.snoozing {
    display: none;
}

span.vi-char {
    padding: 0 3px;
    width: 1em;
}

span.vi-char.cursor {
    border-left: 1px solid #CCF;
}

#cursor {
    font-size: 123.1%;
    padding-left: 5px;
    position: relative;
    top: 2px;
}

#input {
    background-color: transparent;
    color: white;
}

#input:hover, #output .entry:hover {
    color: #CCF;
}

#vi {
    left: 0;
    height: 98%;
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1000;
}
