html {
    background-color: black;
    color: white;
    font-family: monospace;
    height: 100%;
    padding: 10px 5px;
    width: 100%;
}

pre {
    margin: 0;
}

#cursor {
    font-size: 123.1%;
    padding-left: 5px;
    position: relative;
    top: 2px;
}

#cursor.invisible {
    visibility: hidden;
}

#input {
    background-color: transparent;
    color: white;
}

#input:hover, #output .entry:hover {
    color: #CCF;
}
