html {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 10px 5px;
}

pre {
	margin: 0;
}

#input {
    color: white;
    background-color: transparent;
}

#input:hover, #output .entry:hover {
    color: #CCF;
}
​